.header{

    width: 100%;
    background-color: var( --primary-color);
    position: relative;
    z-index:30;
}

.header-nav-bar {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-nav-list{
    display: flex;
    align-items: center;
    gap: 28px;
}

.header-nav-item{
    line-height: 16.94px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.header-burger{
    z-index:40;
    display: flex;
    flex-direction: column;
    display: none;
}

.header-burger-bar, .header-burger:after , .header-burger:before{
    content: "";
    display: block;
    width: 31px;
    height: 4px;
    margin: 4px 0;
    background-color: #fff !important;
    transform-origin: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

.header-burger-open .header-burger-bar{
    opacity: 0;
}
.header-burger-open.header-burger::after{
    rotate: -45deg;
    transform: translate(1.5px);
}

.header-burger-open.header-burger::before{
    rotate: 45deg;
    transform: translate(1.5px);
}

@media (max-width: 768px){
    .header-burger{
        display: flex;
    }

    .header-nav-list{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--primary-color);
        height: calc(100svh - 77px);
        width: 320px;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(320px);
        transition: all 0.3s ease-in-out;
    }

    .header-nav-active.header-nav-list{
        transform: translateX(0);
    }
}

